<!-- 主体 -->
<div class="body">
    <div class="item">
        <!-- 日期分类 -->
        <!--<div class="mark">喜欢（2）</div>-->
        <ul class="posts">
            <!-- 文章 -->
            <!--<li>-->
            <!--&lt;!&ndash;<span href="javascript:;" class="tag">去远方</span>&ndash;&gt;-->
            <!--<div class="cont">-->
            <!--<h3>朝圣山南扎央宗&#45;&#45;探索藏文化之源</h3>-->
            <!--<div class="brief">-->
            <!--<div class="gallery">-->
            <!--<div class="img-box">-->
            <!--<img src="./uploads/post_3.png" alt="">-->
            <!--</div>-->
            <!--<div class="img-box">-->
            <!--<img src="./uploads/post_4.png" alt="">-->
            <!--</div>-->
            <!--<div class="img-box">-->
            <!--<img src="./uploads/post_5.png" alt="">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>							-->
            <!--</div>-->
            <!--</li>-->
            <li>
                <!--<span href="javascript:;" class="tag">去远方</span>-->
                <div class="cont">
                    <h3>工作时间</h3>

                    <div class="brief">
                        <p>2013.10 -- 2016.08</p>
                        <!--<div class="thumb">-->
                        <!--<img src="./uploads/post_1.png" alt="">-->
                        <!--</div>-->
                    </div>
                </div>
            </li>
            <li>
                <!--<span href="javascript:;" class="tag">去远方</span>-->
                <div class="cont">
                    <h3>工作单位</h3>

                    <div class="brief">
                        <p>广州飞英信息科技有限公司</p>
                        <!--<div class="thumb">-->
                        <!--<img src="./uploads/post_1.png" alt="">-->
                        <!--</div>-->
                    </div>
                </div>
            </li>
            <li>
                <!--<span href="javascript:;" class="tag">去远方</span>-->
                <div class="cont">
                    <h3>职位</h3>

                    <div class="brief">
                        <p>H5前端开发工程师</p>
                        <!--<div class="thumb">-->
                        <!--<img src="./uploads/post_1.png" alt="">-->
                        <!--</div>-->
                    </div>
                </div>
            </li>

            <li>
                <!--<span href="javascript:;" class="tag">去远方</span>-->
                <div class="cont">
                    <h3>工作职责</h3>

                    <div class="brief">
                        <p>
                            1、主要负责各种前端页面布局设计，与设计师和后台沟通，参与页面改版以及用户交互的功能设计。
                        </p>

                        <p>
                            2、负责开发公司承包的各种页面的特效轮播图，动画效果与地图Api的研究。
                        </p>

                        <p>
                            3、活动页面的制作与上线，研究一些H5手机端的适应。
                        </p>

                        <p>
                            4、测试和解决浏览器小bug问题。
                        </p>

                        <p>
                            5、注重页面用户交互效果，审查用户体验细节并修正。
                        </p>
                        <!--<div class="thumb">-->
                        <!--<img src="./uploads/post_1.png" alt="">-->
                        <!--</div>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
