
	<!-- 主体 -->
	<div class="item">
		<!-- 日期分类 -->
		<!--<div class="mark">13Aug</div>-->
		<ul class="posts large">
			<!-- 文章 -->
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>联系方式</h3>
					<div class="brief">
						<p>18664666685</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>							
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>E-Mail</h3>
					<div class="brief">
						<p>lweihong0925@163.com</p>
						<!--<div class="gallery">-->
							<!--<img src="./uploads/post_2.png" alt="">-->
						<!--</div>-->
					</div>							
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>微信号</h3>
					<div class="brief">
						<p>v65925265</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>性    别</h3>
					<div class="brief">
						<p>女</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>

			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>年    龄</h3>
					<div class="brief">
						<p>31岁</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>学    历</h3>
					<div class="brief">
						<p>本科</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>现居地点</h3>
					<div class="brief">
						<p>广州</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3>工作年限</h3>
					<div class="brief">
						<p>3年</p>
						<div class="thumb">
							<!--<img src="./uploads/post_1.png" alt="">-->
						</div>
					</div>
				</div>
			</li>
			<li>
				<!--<span href="javascript:;" class="tag">去远方</span>-->
				<div class="cont">
					<h3> 到岗时间</h3>
					<div class="brief">
						<p>随时到岗</p>
						<!--<div class="thumb">-->
							<!--<img src="./uploads/post_1.png" alt="">-->
						<!--</div>-->
					</div>
				</div>
			</li>
		</ul>
	</div>