<!-- 主体 -->

    <dl class="works">
        <dt>项目经验</dt>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-14.png" alt="">
            </div>
            <div class="info">
                <h5>关于此简历</h5>
                <p>开发周期：2个月</p>
                <p>仿豆瓣一刻（移动端），主要使用AngularJS实现数据绑定，使用CSS3新属性实现动画效果，
                    运用less预处理器实现页面样式，运用多媒体查询实现移动端窗口适配。</p>
                <p>技术支持：html+less+angularJS</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
        </div>
            <div class="info">
                <h5>梅地亚婚礼策划网站</h5>

                <p>项目网址:http://media.meishiphoto.net/</p>
                <p>项目介绍：梅地亚婚庆策划是国内目前热门的婚嫁文化产业机构.</p>
                <p>开发周期：2个月</p>
                <p> 负责模块：主要负责所有页面的开发,运用div+css进行布局,运用H5新标签元素镶嵌视频
                    及音频，研究百度Api，并镶嵌在页面中，使用ajax实现与客服人员实时互动等。</p>
                <p> 技术支持：html+css+js+jq+ajax</p>
            </div>
        </dd>

        <dd>
            <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
            </div>
            <div class="info">
                <h5>成都星娱文化传媒股份有限公司</h5>

                <p>项目网址:http://www.cdstar.com.cn/（响应式）</p>
                <p>项目介绍：主营业务为客户提供包括品牌传播、产品推广、公关活动、策展活动等一系列的服务。</p>
                <p>开发周期：2个月</p>
                <p> 负责模块：运用div+css进行布局,运用CSS3新属性实现炫酷动画效果，调用百度地图API等。</p>
                <p> 技术支持：html+CSS3+js+jq+ajax+Bootstrap</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
            <img src="./uploads/hd160507-14.png" alt="">
            </div>
            <div class="info">
                <h5>绿叶商城</h5>
                <p>项目网址：http://m.27shuiguo.com/(移动端)</p>
                <p>项目介绍：该项目主要是原来PC端基础上完成NetStore网上购物系统的开发，该系统分为首页、
                    用户管理、购物车管理、订单管理、退出5个模块。与5名同事的共同努力下，分别实现了用户登录、
                    注册、修改、查看信息等功能；购物车模块实现了查看、购买、修改数量等功能、产品详情页等功能。
                </p>
                <p>开发周期：2个月</p>
                <p>负责模块: 使用Bootstrap框架开发移动端页面，使用swiper插件实现细腻的轮播图，解决移动端的适配问题，根据UI的表现需求设计静态网页和其它动态
                    页面界面框架，做一些必有的测试，由项目组共同联调测试等。
                </p>
                <p> 技术支持：html+css+ajax+php+swiper+Bootstrap。</p>
            </div>
        </dd>
        <dd>
            <div class="avatar">
                <img src="./uploads/hd160507-14.png" alt="">
            </div>
            <div class="info">
                <h5>绿叶水果商城</h5>
                <p>项目网址：http://27shuiguo.com/</p>
                <p>项目介绍：该项目为O2O平台商城，实现产品在线交易，通过客户自己选取提货地址，线下提货，
                    该项目主要是完成NetStore网上购物系统的开发，该项目分为首页、用户管理、购物车管理、订单管理、
                    退出5个模块。与5名同事的共同努力下，分别实现了用户登录、注册、修改、查看信息等功能；购物车模块实现了查看、
                    购买、修改数量等功能、产品详情页等功能。。
                    </p>
                <p>开发周期：5个月</p>
                <p>负责模块: 网站部分页面的开发布局,配合UI设计师和后台工程师来实现具体功能页面展示，省、市、县、门店四级联动，
                    页面图片轮播展示，产品详情页放大镜效果, tab栏切换以及插件轮播图的使用与嵌入，使用ajax配合php实现重复内容
                    从后台调取。
                </p>
                <p>技术支持：html+css+ajax+php+Bootstrap。</p>

            </div>
        </dd>



    </dl>

